.button__header {
    background-color: #A08888;
    color: var(--white-color);
    min-height: 74px;
    min-width: 130px;
    border: 0;
}

.button__time {
    background-color: var(--main-color, #d9d9d9);
    color: white;
    min-height: 50px;
    min-width: 100px;
    color: var(--black-color);
    border: 0;
}

.button__form {
    display: flex;
    background-color: var(--main-color, #d9d9d9);
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black-color);
}

.button__category {
    background-color: var(--main-color, #d9d9d9);
    color: var(--black-color);
    min-width: 50%;
    height: 50px;
    border: 0;
}

.button__animate:hover {
    background-color: var(--hover-color);
}

.button__animate:active {
    background-color: var(--animate-color);
    border: 1px solid var(--black-color);
}

.button__animate:focus {
    background-color: var(--animate-color);
    border: 1px solid var(--black-color);
}
