.container {
    display: flex;
    background-color: var(--main-color, #d9d9d9);
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black-color);
}