.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: black;
    background-color: #D9D9D9;
    font-size: 24px;
    width: 20%;
    min-height: 50px;
    align-items: center;
}
