.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: var(--black-color);
    background-color: var(--main-color, #d9d9d9);
    font-size: 24px;
    width: 20%;
    min-height: 50px;
    align-items: center;
}
