.container {
	position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    left: 68%;
	width: 25%;
	height: 20%;
    border: 1px solid var(--black-color);
    background-color: var(--form-color);
}
