.container {
	position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    left: 68%;
	width: 25%;
	height: 20%;
    border: 1px solid black;
    background-color: rgb(244, 202, 202);
    visibility: hidden;
}

.containerOpen {
    visibility: visible;
}